.idea

config.json

tests/data/dataset_generated
tests/data/distograms_pdbs
tests/data/pdb_generated
tests/data/data.info

__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/


dask-scratch-space

.env

*.log

*.h5